@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<hr />

<DxAIChat ResponseContentFormat="ResponseContentFormat.Markdown">
    <EmptyMessageAreaTemplate>
        <div class="demo-chat-ui-description">
            Ciao Spike time! fammi la tua domanda
        </div>
    </EmptyMessageAreaTemplate>
    <MessageContentTemplate Context="message">
        <div class="demo-chat-content">
            @(new MarkupString(Markdig.Markdown.ToHtml(message.Content).Trim()))
        </div>
    </MessageContentTemplate>
    <PromptSuggestions>
        @foreach (var suggestion in promptSuggestions)
        {
            <DxAIChatPromptSuggestion Title="@suggestion.Title" 
                                      Text="@suggestion.Text" 
                                      PromptMessage="@suggestion.PromptMessage" />
        }
    </PromptSuggestions>
</DxAIChat>

@code {
    private List<PromptSuggestion> promptSuggestions = PromptSuggestionsDataProvider.GetData();
}
