@page "/about"

<PageTitle>Telerik Blazor App | About</PageTitle>

<h1>About Telerik UI for Blazor</h1>

<ul id="about-resource-links">
    <li><a href="https://docs.telerik.com/blazor-ui" target="_blank">Documentation</a></li>
    <li><a href="https://demos.telerik.com/blazor-ui" target="_blank">Online Demos</a></li>
    <li><a href="https://www.telerik.com/support/whats-new/blazor-ui/release-history" target="_blank">Release Notes</a></li>
    <li><a href="https://www.telerik.com/blazor-ui/repl" target="_blank">Telerik REPL for Blazor</a></li>
    <li><a href="https://www.telerik.com/support/blazor-ui" target="_blank">Docs and Support Hub Page</a></li>
</ul>

<style>
    #about-resource-links li {
        margin-top: .5em;
        font-size: var(--kendo-font-size-lg);
    }
</style>

@code {

}
