@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li><strong>@claim.Type</strong>: @claim.Value</li>
            }
        </ul>
    </Authorized>
</AuthorizeView>
